/* Footer.css */

.footer {
  background-color: #008080;
  color: #fff;
  padding: 6px 0 4px 0;
  text-align: center;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  max-width: 300px;
  margin: 5px;
  font-size: 1.0rem;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;}

.footer-column h4 {
  font-size: 1.2rem;
  margin: 1px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}
.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-column ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-bottom {
  margin-top: 20px;
}
.text{
  text-decoration: none;
  color: white;
}
a{
  color: #fff;

}